nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
a {
  text-decoration: none;
}
.active {
  font-weight: 700;
  text-decoration: underline;
  color: red;
}
* {
  width: 100%;
}
body {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.2rem;
  word-spacing: normal;
  line-height: 3rem;
  text-align: left;
}
h1 {
  text-align: center;
  background-color: aliceblue;
}
footer {
  text-align: center;
}
.button {
  background-color: rgb(144, 179, 179);
  border-radius: 16px;
  color: white;
  width: max-content;
  padding: 5px 10px;
  text-decoration: none;

  margin: 0px auto;
}
.button:hover {
  background-color: rgb(90, 155, 212);
}
.button a {
  color: white;
}
p {
  padding-left: 50px;
}
li {
  text-align: justify;
}
